.game-container {
    width: 70vh;
}

.tile {
    border-radius: 35%;
    outline: none;
}

.tile.SELECTABLE {
    cursor: pointer;
    background-color: yellow !important;
}

.tile.TO_NOT_FILL {
    background-color: #26A69A;
}

.tile.TO_NOT_FILL.FILLED {
    background-color: #004D40;
}

.tile.TO_FILL {
    background-color: #A7FFEB;
}

.tile.TO_NOT_FILL img{
  display: none;
}

.tile.TO_FILL.FILLED {
  background-color: #B2DFDB;
}

.tile.TO_FILL.FILLED img{
  display: none;
}

.tile img {
    border-radius: 35%;
}
