.grid-container {
    margin: 0 auto;
    width: 70%;
}

.tile {
    background-color: yellow;
    border-radius: 35%;
    outline: none;
    cursor: pointer;
}

md-toolbar {
    margin-bottom: 15px;
}
