<md-content layout="row" layout-xs="column" class="authors" layout-align="center center" flex>
  <span flex></span>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Simone Degiacomi</span>
        <span class="md-subhead">simonedegiacomi</span>
      </md-card-title-text>
      <md-card-title-media layout-padding>
        <a href="https://github.com/simonedegiacomi" ><img ng-src="images/person_1.png" class="text-align: middle"></a>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <span flex></span>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Alekos Filini</span>
        <span class="md-subhead">afilini</span>
      </md-card-title-text>
      <md-card-title-media layout-padding>
        <a href="https://github.com/afilini"><img ng-src="images/person_2.png"></a>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <span flex></span>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Pietro Venturini</span>
        <span class="md-subhead">pietroventurini</span>
      </md-card-title-text>
      <md-card-title-media layout-padding>
        <a href="https://github.com/pietroventurini"><img ng-src="images/person_4.png"></a>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <span flex></span>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Majid Abdul</span>
          <span class="md-subhead">majid701</span>
        </md-card-title-text>
        <md-card-title-media layout-padding>
          <a href="https://github.com/majid701"><img ng-src="images/person_3.png"></a>        </md-card-title-media>
      </md-card-title>
    </md-card>

  <span flex></span>
</md-content>
