<md-content flex layout="column" layout-align="space-between center">
    <!-- Map name -->
    <h1>LEVEL {{mapName | limitTo: -2}}</h1>

    <!-- Game container -->
    <md-content flex class="game-container">

        <!-- List of tiles -->
        <md-grid-list
                ng-if="map != null"
                md-cols="{{width}}"
                md-row-height="1:1"
                md-gutter="4px">
                    <md-grid-tile
                            ng-repeat="tile in getTiles(map) track by $index"
                            ng-click="onClickTile(tile, $event)"
                            ng-class="'tile ' + tile.type + ' ' + (tile.filled ? 'FILLED' : '') + ' ' + (tile.selectable ? 'SELECTABLE' : '')">
                            <img ng-src="images/pizza_shadow_10.png" layout-fill>
                    </md-grid-tile>
        </md-grid-list>
    </md-content>
</md-content>
